{% extends 'services/main-layout.html' %}
{% block Title %}Register{% endblock %}

{% block content%}
    <div style='height:800px;' class='container d-flex justify-content-center align-items-center'>
        {% if user.is_authenticated%}
        <form class="registerform" method="post">
            {% csrf_token %}
            <label id='id_title'>Title</label>
            {{ form.title }}
            <label id='id_salary'>Salary</label>
            {{ form.salary }}
            <placeholder>Text</placeholder>
            {{ form.text }}<br> 
            <div class="pt-4"></div>
            <label class="" id='id_technologies'>Technologies</label>
            {{ form.technologies }}
            <p class='text-light bg-danger p-3' style='border-radius: 10px;'>You must write technologies through ',' example 'Php,Django,Python,Cms'</p>
            <button class="btn my-2 flare-button">Register</button>
        </form>
        {% else%}
        <p class='text-light bg-danger p-3' style='border-radius: 10px;'>User is not authenticated. Please <a href={% url 'reg'%}>register</a>, or <a href={% url 'login'%}>login</a> in your account</p>
        {% endif%}
    </div>
{% endblock%}

{% block scripts%}  
<script>
    let labels = document.querySelectorAll('label')
    let inputs = document.querySelectorAll('input')
    for(var i = 1; i > inputs.length; i++){
        inputs[i].val() = ''
    }
    $('input').focus(function(){
        for(var elem in labels){
            if($(this).attr("id") == labels[elem].id){
                labels[elem].classList.add('ACTIVElab')
            }

        }
    });

    $('input').focusout(function(){
        for(var elem in labels){
            if($(this).attr("id") == labels[elem].id){
                labels[elem].classList.remove('ACTIVElab')
                if($(this).val() != ''){
                    labels[elem].classList.add('ACTIVElab')
                }
            }
        }
    });
</script>
{% endblock%}