{% extends 'services/main-layout.html' %}
{% block Title %}Massanges{% endblock %}
{% block content%}
<div style="min-height: 640px;" class='container'>
    <div class="row">
        <div class="bg-light col-2">
            <div class="my-4">
                <div style='background-color: #295AD9; border-radius: 10px;' class='p-3 text-white my-3'>GLEBEGOR</div>
                <div style='background-color: #295AD9; border-radius: 10px;' class='p-3 text-white my-3'>ADMIN</div>
                <div style='background-color: #295AD9; border-radius: 10px;' class='p-3 text-white my-3'>EGORAGLEB</div>
                <div style='background-color: #295AD9; border-radius: 10px;' class='p-3 text-white my-3'>USERNAME</div>
                <div style='background-color: #295AD9; border-radius: 10px;' class='p-3 text-white my-3'>USERNAME</div>
            </div>
        </div>
        <div class="col-10 p-0">
            <div style="background-color: #295AD9;height: 600px; overflow-y:scroll;" class="massagesInner pt-3">
                <div class="massagesSlider">
                    <div class="d-flex mb-4 bg-white ms-auto me-3 p-3" style="border-radius:10px;max-width: 680px">
                        <img style="width:50px;height: 50px;">
                        <div class="ps-3">
                            <div> admin</div>
                            <div class="ps-3">Hello</div>                            
                        </div>
                    </div>
                    <div class="d-flex mb-4 bg-white ms-3 p-3" style="border-radius:10px;max-width: 680px">
                        <img style="width:50px;height: 50px;">
                        <div class="ps-3">
                            <div>glebegor</div>
                            <div class="ps-3">Hi!</div>                            
                        </div>
                    </div>
                    <div class="d-flex mb-4 bg-white ms-auto me-3 p-3" style="border-radius:10px;max-width: 680px">
                        <img style="width:50px;height: 50px;">
                        <div class="ps-3">
                            <div>admin</div>
                            <div class="ps-3">How are you?</div>                            
                        </div>
                    </div>
                    <div class="d-flex mb-4 bg-white ms-3 p-3" style="border-radius:10px;max-width: 680px">
                        <img style="width:50px;height: 50px;">
                        <div class="ps-3">
                            <div>glebegor</div>
                            <div class="ps-3">Very nice!</div>                            
                        </div>
                    </div>
                    <div class="d-flex mb-4 bg-white ms-3 p-3" style="border-radius:10px;max-width: 680px">
                        <img style="width:50px;height: 50px;">
                        <div class="ps-3">
                            <div>glebegor</div>
                            <div class="ps-3">Very nice!</div>                            
                        </div>
                    </div>
                    <div class="d-flex mb-4 bg-white ms-3 p-3" style="border-radius:10px;max-width: 680px">
                        <img style="width:50px;height: 50px;">
                        <div class="ps-3">
                            <div>glebegor</div>
                            <div class="ps-3">Very nice!</div>                            
                        </div>
                    </div>
                    <div class="d-flex mb-4 bg-white ms-3 p-3" style="border-radius:10px;max-width: 680px">
                        <img style="width:50px;height: 50px;">
                        <div class="ps-3">
                            <div>glebegor</div>
                            <div class="ps-3">Very nice!</div>                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="pt-3 px-3" style="min-height: 200px;">
                <textarea style='resize: none;height: 100px;' class="w-100"></textarea>
                <button class="flare-button">send</button>
            </div>
        </div>  
    </div>
</div>
{% endblock%}
{% block scripts%}  
<script>
</script>
{% endblock%}