{% extends 'services/main-layout.html' %}
{% block Title %}Login{% endblock %}
{% block content%}
    <div style='height:800px;' class=' container d-flex justify-content-center align-items-center'>
        <form enctype="multipart/form-data" method="post">
            {% csrf_token %}
            {{ img_profile.Avatar }}
            <button class="btn my-2 flare-button">Save</button>            
        </form>
    </div>
{% endblock%}

{% block scripts%}  
{% comment %} <script>
    let labels = document.querySelectorAll('label')
    let inputs = document.querySelectorAll('input')
    for(var i = 1; i > inputs.length; i++){
        inputs[i].val() = ''
    }
    $('input').focus(function(){
        for(var elem in labels){
            if($(this).attr("id") == labels[elem].id){
                labels[elem].classList.add('ACTIVElab')
            }

        }
    });

    $('input').focusout(function(){
        for(var elem in labels){
            if($(this).attr("id") == labels[elem].id){
                labels[elem].classList.remove('ACTIVElab')
                if($(this).val() != ''){
                    labels[elem].classList.add('ACTIVElab')
                }
            }
        }
    });
</script> {% endcomment %}
{% endblock%}