{% extends 'services/main-layout.html' %}
{% block Title %}Register{% endblock %}

{% block content%}
    <div style='height:800px;' class='container d-flex justify-content-center align-items-center'>
        {% if not user.is_authenticated %}
        <form class="registerform" method="post">
            {% csrf_token %}
            <label id='id_username'>Username</label>
            {{ form.username }}</br>
            <label id='id_email'>Email</label>
            {{ form.email }}</br>
            <label id='id_password1'>Password</label>
            {{ form.password1 }}</br>
            <label id='id_password2'>Repeat Password</label>
            {{ form.password2 }}</br>
            <p class='text-light bg-danger p-3' style='border-radius: 10px;'>Passwords of these types '123qwe, 123456789, 111111' or more lighter are wrong.</p>
            <button class="btn my-2 flare-button">Register</button>
        </form>
        {% else %}
            <p class='bg-success p-5 text-light' style='border-radius: 10px;'>User is Logged</p>
        {% endif %}
    </div>
{% endblock%}

{% block scripts%}  
<script>
    let labels = document.querySelectorAll('label')
    let inputs = document.querySelectorAll('input')
    for(var i = 1; i > inputs.length; i++){
        inputs[i].val() = ''
    }
    $('input').focus(function(){
        for(var elem in labels){
            if($(this).attr("id") == labels[elem].id){
                labels[elem].classList.add('ACTIVElab')
            }

        }
    });

    $('input').focusout(function(){
        for(var elem in labels){
            if($(this).attr("id") == labels[elem].id){
                labels[elem].classList.remove('ACTIVElab')
                if($(this).val() != ''){
                    labels[elem].classList.add('ACTIVElab')
                }
            }
        }
    });
</script>
{% endblock%}